.board {
    border-collapse: collapse;
    margin: 20px auto;
    flex: 1
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(128, 128, 128);
    cursor: pointer;
    color: transparent;
}

.cell.revealed {
    background-color: rgb(166, 166, 166);
    color: black;
    cursor: default;
}

.pressed {
    background-color: lightgray;
}


.shown {
    /* background-color: aqua; */
    background-color: blue;
    border: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.btn-restart {
    flex: 10px;
    border-radius: 5px;
    display: none;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    cursor: pointer;
}

body {
    background: #838383;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.cell.flagged {
    color: black;
    /* Make the flag icon visible */
}

.cell.revealed.flagged {
    color: transparent;
}